<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.doctor.open_login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ResetActivity" />
        <activity android:name=".activity.VisualizeActivity" />
        <activity android:name=".activity.ImageActivity"></activity>


        <activity
            android:name="com.wd.doctor.common.shenfen.CameraActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <service
            android:name="com.wd.doctor.common.utils.MyService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.wd.doctor.DataProvider"
            android:name="com.wd.doctor.common.utils.DataProvider"
            android:exported="true"
            />


    </application>

</manifest>